<div class="container">
  <p>
    ようこそながのCAKEへ!<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
  </p>
  
  <h4>新着商品</h4>
  <div class="col-md-3">
  <% @items.each do |item| %>
    <%= image_tag item.get_profile_image(40,40),class: "img-fluid"  %>
    <%= item.name %>
    ¥<%= item.add_tax_price.to_s(:dalimited) %>
  <% end %>
  
  <%= link_to root_path do %>
    全ての商品を見る>
  <% end %>
  </div>
</div>